
:root {
    --background-main: #2f3136; /*discord dark theme background-secondary - the same color as the embeds*/
    --background-secondary: #4f545c; /*discord's background-tertiary*/
    --background-accent: #4f545c; /*discord's background-accent*/
    --highlight: rgb(113, 54, 138); /*matteo purple™*/
}

.game {
    align-self: stretch;
    justify-self: stretch;
    text-align: center;
    display: flex;
    flex-direction: column;
    background:var(--background-main);
    border: 4px solid;
    border-radius: 4px;
    border-color: var(--highlight);
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: max-content;
}

.header {
    width: 100%;
    background-color: var(--background-secondary);
    border-top-right-radius: 4px;
    height: max-content;
    
}

.inning {
    float: left;
    margin: 5px;
    margin-left: 8px;
}

.weather {
    float: right;
    margin: 5px;
    margin-right: 8px;
}

.body {
    margin: 10px;
    display: grid;
    grid-template-columns: 66% 33%;
    grid-template-areas:
      "teams info" 
      "players info" 
      "update update";
    grid-template-rows: 90px 85px;
    grid-row-gap: 4px;
    grid-column-gap: 14px;
    flex: 1;
}

.teams {
    grid-area: teams;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 95%;
    max-width: 100%;
    width: min-content;
}

.team {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0px;
}

.team_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #4f545c;
    padding: 25px 0px;
    margin-right: 10px;
    border-radius: 4px;
}

.batting {
    font-size: 10pt;
    text-align: left;
    height: max-content;
    padding: 5px;
}

.leagueoruser {
    font-size: 10pt;
    text-align: right;
    height: max-content;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.outs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.outs_title {
    font-weight: bolder;
}

.outs_count {
    display: flex;
}

.out {
    height: 20px;
}

.team_name, .score {
    font-size: 25px
}

.score {
    background: var(--background-accent);
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;
}

.players {
    grid-area: players;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.player {
    display: flex;
    align-items: end;
    width: 100%;
    flex-direction: column;
}

.player_name {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    white-space: nowrap;
    width: 95%;
    margin-top: -4px;
}

.update {
    grid-area: update;
    margin-right: 10px;
    margin-top: 5px;
    min-height: 50px;
    padding: 0px 10px;
    height: 100%;
    background: var(--background-secondary);
    border-radius: 4px;
    align-items: center;
    display: flex;
    justify-content: start;
}

.player_type {
    width: 100%;
    text-align: start;
    font-weight: bolder;
}

.update_emoji {
    margin-right: 10px;
    margin-left: 2px;
}

.update_text {
    text-align: start;
}

.field {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.base {
    height: 60px;
}

.base_2 {
    margin-bottom: -25%
}

@media only screen and (max-device-width: 800px) {
    .batting {
        font-size: 15pt;
        text-align: left;
        height: max-content;
        padding: 5px;
    }

    .leagueoruser {
        font-size: 15pt;
        text-align: right;
        height: max-content;
        padding: 5px;
    }

    .team_name, .score {
        font-size: 23px
    }

    .players {
        font-size: 20px;
        grid-area: players;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        padding-right: 50px;
    }

    .update_emoji, .update_text {
        display: inline;
        font-size: 20px;
    }
}