.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(500px, 1fr));
    grid-gap: 50px 30px; /*space between rows, then columns*/
    align-items: center;
    justify-items: center;
    grid-auto-flow: row;
}

.container > div {
    min-height: 325px;
}

#filters {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#filters > * {
    padding: 4px 8px;
    margin: 0px 8px;
    font-size: 16pt;
    background: rgba(0,0,0,0);
}

#filters > .filter {
    border-radius: 8px;
    min-width: 100px;
    text-align: center;
    border: none;
    color: white;
    text-decoration: none;
}

#selected_filter {
    background: rgb(113, 54, 138);
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 75px;
}

#footer > div {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 5px;
}

.emptyslot {
    border: 2px dashed white;
    border-radius: 15px;
    align-self: stretch;
    justify-self: stretch;
    text-align: center;
    color: white;
}

@media only screen and (max-device-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, minmax(700px, 90%));
        grid-template-rows: 400px;
        grid-gap: 50px 30px; /*space between rows, then columns*/
        align-items: center;
        justify-items: center;
        grid-auto-rows: 400px;
        grid-auto-flow: row;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .emptyslot {
        border: none;
        border-radius: 15px;
        align-self: stretch;
        justify-self: stretch;
        text-align: center;
        color: white;
        flex: 1;
    }
}