@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');

:root {
    --background-main: #2f3136;
    --background-secondary: #4f545c;
    --background-tertiary: #202225;
    --background-accent: #40444b;
    --highlight: rgb(113, 54, 138); /*matteo purple™*/
    --accent-red: #f04747;
    --accent-green: rgb(67, 181, 129);
}

body {
    background-image: url("img/naturalblack.png");
}
/* Background pattern from Toptal Subtle Patterns */

* {
    font-family: 'Alegreya', serif;
    color: white;
}

h2 {
    text-align: center;
}

.link{
    position: relative;
    top: 10px; 
}

.h1 {
    margin: auto;
    width: 45%;
    color: white;
}

.page_header {
    color: white;
    font-family: 'Goldman', cursive;
    text-decoration: none;
}

#header {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header .page_header {
    margin: auto;
}

#link_div {
    text-align: right;
    position: absolute;
    top: 0px;
    right: 30px;
}

#link_div > a {
    background-color: transparent;
    text-decoration: underline;
}

#link_div > a:link, #link_div > a:visited {
    color: lightblue;
}

#link_div > a:hover {
    color: white;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}