@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
body {
    background-image: url("img/naturalblack.png");
}
/* Background pattern from Toptal Subtle Patterns */

div, button, h1, h2, a {
    font-family: 'Alegreya', serif;
    color: white;
}

h2 {
    text-align: center;
}

.link{
    position: relative;
    top: 10px; 
}

.h1 {
    margin: auto;
    width: 45%;
    color: white;
}

.page_header {
    color: white;
    font-family: 'Goldman', cursive;
    text-decoration: none;
}

#header {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header .page_header {
    margin: auto;
}

#link_div {
    text-align: right;
    position: absolute;
    top: 0px;
    right: 30px;
}

#link_div > a {
    background-color: transparent;
    text-decoration: underline;
}

#link_div > a:link, #link_div > a:visited {
    color: lightblue;
}

#link_div > a:hover {
    color: white;
}

img.emoji {
    height: 14px;
}