@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
body {
    background-image: url("prism.png");
}
/* Background pattern from Toptal Subtle Patterns */

.container {
    font-family: 'Alegreya', serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 300px;
    grid-gap: 50px 30px; /*space between rows, then columns*/
    align-items: center;
    justify-items: center;
    grid-auto-rows: 300px;
    grid-auto-flow: row;
}

.h1 {
    margin: auto;
    width: 45%;
    font-family: 'Alegreya', serif;
}

.emptyslot {
    border: 2px dashed white;
    border-radius: 15px;
    align-self: stretch;
    justify-self: stretch;
    text-align: center;
    color: white;
}

.game {
    font-family: 'Alegreya', serif;
    color: white;
}

h2 {
    font-family: 'Alegreya', serif;
    color: white;
    text-align: center;
}