<div class="game">
    <div class="header">
        <div class="inning">
            Inning: 🔼 1/9
        </div>
        <div class="weather">
            🌟 Supernova
        </div>
    </div>
    <div class="body">
        <div class="scores">
            <div class="team">
                <div class="team_name">Halifax Fire Sharks</div>
                <div class="score">0</div>
            </div>
            <div class="team">
                <div class="team_name">Dead Batteries</div>
                <div class="score">1</div>
            </div>
        </div>
        <div class="info">
            <div class="field">
                <img class="base2" src="/static/img/base_filled.png"/>
                <div style="display: flex;">
                    <img class="base3" src="/static/img/base_empty.png"/>
                    <img class="base1" src="/static/img/base_empty.png"/>
                </div>
            </div>
            <div class="outs">
                <div class="outs_title">OUTS</div>
                <div class="outs_count">
                    <img class="out" src="/static/img/out_out.png"/>
                    <img class="out" src="/static/img/out_in.png"/>
                </div>
            </div>
        </div>
        <div class="players">
            <div class="player">
                <div class="player_type">Pitcher:</div>
                <div class="player_name">Hot Fish Summer</div>
            </div>
            <div class="player">
                <div class="player_type">Batter:</div>
                <div class="player_name">Shape Batteries</div>
            </div>
        </div>
        <div class="update">
            <div class="update_emoji">🏏</div>
            <div class="update_text">Shape Batteries grounds out to Honk For Santa.</div>
        </div>
    </div>
    <div class="footer">
        <div class="batting">Dead Batteries batting</div>
    </div>
</div>