{% extends "base.html" %}
{% block head_tags %}
    <link rel="stylesheet" href="/static/css/games_page.css">
    <link rel="stylesheet" href="/static/css/game.css">
    <script type="text/javascript" src="static/js/grid_loader.js"></script>
{% endblock %}
{% block body %}
	<div id="filters">
        <div>Filter:</div>
        <button class="filter" {% if not league %}id="selected_filter"{% endif %}>All</button>
        {% if league %}<button class="filter" id="selected_filter">{{ league }}</button>{% endif %}
    </div>
    <section class="container" id="container">
        <div class="emptyslot"></div>
        <div class="emptyslot"></div>
        <div class="emptyslot"></div>
    </section>
    <div id="footer">
        <div></div>
    </div>
{% endblock %}