<html lang="en-US">
<head>
    <script src="//code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="static/loader.js"></script>
    <link rel="stylesheet" href="/static/games_page.css">
    <title>⚾ The Simmadome</title>
    <meta property="og:description" content="The Simsim: Your players, your teams, your games." />
</head>

<body>
    <div id="header">
        <h2 class="page_header" style="font-size: 50px;">THE SIMMADOME</h2>
        <h2 class="page_header">Join SIBR on <a href="https://discord.gg/UhAajY2NCW" class="link"><img src="static/discord.png" height="30"></a> to start your own games!</h2>
    </div>
    <section class="container" id="container">
        <div class="emptyslot"></div>
        <div class="emptyslot"></div>
        <div class="emptyslot"></div>
    </section>
    <div id="footer">
        <div></div>
    </div>
</body>
</html>
